window {
    border-radius: 6px;
}

tabbar {
    margin: -8px;
}

tabbar tabbox {
    transform: translateY(-4px);
}

tabbar tabbox tab {
    transform: translateY(10px);
}

tabbar tabbox tab>* {
    transform: translateY(-4px);
}

tabbar button {
    transform: scale(0.8);
}
